@using YoutubeBlogMVC.Entity.ModelViews.Categories

@model List<CategoryModelView>

<div class="content">
    <ul>
        @foreach (var category in Model)
        {
            @* <li><a href="/Home/Search?keyword=@category.Name.ToLower()">@category.Name</a></li> *@
            <li><a asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id" >@category.Name</a></li>
        }
    </ul>
</div>